{% extends "pizzas/base.html" %}

{% block content %}

<p> Pizza: {{ pizza.pizza_name }} </p>

<ul>
    {% for t in toppings %} 
    <li>
        {{ t.topping_name }}
        
    </li>

    {% empty %}
    <li>No toppings has been added yet.</li>
    {% endfor %}
</ul>
<p> Comments: {{ pizza.pizza_name }} </p>
<ul>
    {% for c in comments %} 
    <li>
        {{ c.comment }}
        
    </li>

    {% empty %}
    <li>No comments for this pizza been added yet.</li>
    {% endfor %}
</ul>
<p>
    <a href="{% url 'pizzas:new_comment' pizza.id %}">Add a new comment</a>
</p>

{% endblock content %}